<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.service.mapper.GoodsMapper">
    <!--插入图片到goods_pictures表-->
    <insert id="putPictures">
        insert into goods_pictures(picture, goods_id, type) values
        <foreach collection="pictures" item="item" index="index" separator=",">
            (#{item},#{id},#{type})
        </foreach>
    </insert>
    <!--插入商品属性到goods_properties-->
    <insert id="putProperties">
        insert into goods_properties(name, value, goods_id) values
        <foreach collection="properties" item="item" index="index" separator=",">
            (#{item.name},#{item.value} ,#{id})
        </foreach>
    </insert>

    <select id="getOrderPreGoods" resultType="com.shop.service.pojo.order.orderPre.OrderPreGoods">
        select * from category where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <!--获取商品列表多条件查询-->
    <select id="getLevel3Detail" resultType="com.shop.service.pojo.goods.AdminGoodsDetail">
        select * from category
        <where>
             list_level = 3
            <!-- 如果搜索条件不为空，则添加搜索条件 -->
            <if test="searchText != null and searchText != ''">
                and (name like concat('%', #{searchText}, '%')
                or `desc` LIKE concat('%', #{searchText}, '%'))
            </if>
        </where>
        limit #{pageNum},#{pageSize}
    </select>
<!--    获取条件查询总长度-->
    <select id="getLevel3DetailTotal" resultType="java.lang.Long">
        select count(*) from category
        <where>
            list_level = 3
            <!-- 如果搜索条件不为空，则添加搜索条件 -->
            <if test="searchText != null and searchText != ''">
                and (name like concat('%', #{searchText}, '%')
                or `desc` like concat('%', #{searchText}, '%'))
            </if>
        </where>
    </select>
    <!--获取相关商品未被下架，给用户搜索显示-->
    <select id="getLevel3DetailByUser" resultType="com.shop.service.pojo.goods.AdminGoodsDetail">
        select * from category
        <where>
            list_level = 3 and removed = 0
            <!-- 如果搜索条件不为空，则添加搜索条件 -->
            <if test="searchText != null and searchText != ''">
                and (name like concat('%', #{searchText}, '%')
                or `desc` LIKE concat('%', #{searchText}, '%'))
            </if>
        </where>
        limit #{pageNum},#{pageSize}
    </select>
    <!--获取相关商品未被下架的数量，给用户搜索显示-->
    <select id="getLevel3DetailTotalByUser" resultType="java.lang.Long">
        select count(*) from category
        <where>
            list_level = 3 and removed = 0
            <!-- 如果搜索条件不为空，则添加搜索条件 -->
            <if test="searchText != null and searchText != ''">
                and (name like concat('%', #{searchText}, '%')
                or `desc` like concat('%', #{searchText}, '%'))
            </if>
        </where>
    </select>

</mapper>